// The base compass / sass file
// Use to initialize stylesheets with common variables,
// Plan to use framework utilities
// Use to code own mixins
// Define compass/framework constants
//
// @author: Christophe Malo
// Variables
// Best practices: set variables before import module
// if module use these variables
$darkColor: #000;
$spaceUlLi: .5em;

@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/utilities";

// Mixin for fonts
@mixin fontProject ($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

// Box
@mixin square-box($dim) {
    height: $dim;
    width: $dim;
}

// Border
@mixin styleBorder($size, $kind, $color) {
    border: $size $kind $color;
}