/**
 * Project: Use Compass and Sass
 *
 * Author: Christophe Malo
 */
/**
 * -------------------------
 * Import Google Font
 * -------------------------
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
/**
 * -------------------------
 * Reset CSS
 * -------------------------
 */
/* line 5, ../../../../../Users/cmalo/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Users/cmalo/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Users/cmalo/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Users/cmalo/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Users/cmalo/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Users/cmalo/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Users/cmalo/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Users/cmalo/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Users/cmalo/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * -------------------------
 * Generique
 * -------------------------
 */
/* line 27, ../sass/application.scss */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding-top: 20px;
}

/**
 * -------------------------
 * Font
 * -------------------------
 */
/* line 37, ../sass/application.scss */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #000;
}

/**
 * -------------------------
 * Header
 * -------------------------
 */
/**
 * -------------------------
 * Content
 * -------------------------
 */
/**
 * -------------------------
 * Footer
 * -------------------------
 */
/* line 60, ../sass/application.scss */
.exampleElementOfType address, .exampleElementOfType article, .exampleElementOfType aside, .exampleElementOfType blockquote, .exampleElementOfType center, .exampleElementOfType dir, .exampleElementOfType div, .exampleElementOfType dd, .exampleElementOfType details, .exampleElementOfType dl, .exampleElementOfType dt, .exampleElementOfType fieldset, .exampleElementOfType figcaption, .exampleElementOfType figure, .exampleElementOfType form, .exampleElementOfType footer, .exampleElementOfType frameset, .exampleElementOfType h1, .exampleElementOfType h2, .exampleElementOfType h3, .exampleElementOfType h4, .exampleElementOfType h5, .exampleElementOfType h6, .exampleElementOfType hr, .exampleElementOfType header, .exampleElementOfType hgroup, .exampleElementOfType isindex, .exampleElementOfType main, .exampleElementOfType menu, .exampleElementOfType nav, .exampleElementOfType noframes, .exampleElementOfType noscript, .exampleElementOfType ol, .exampleElementOfType p, .exampleElementOfType pre, .exampleElementOfType section, .exampleElementOfType summary, .exampleElementOfType ul {
  border: 1px solid #777777;
  margin: 1em 3em;
}
/* line 64, ../sass/application.scss */
.exampleElementOfType a, .exampleElementOfType abbr, .exampleElementOfType acronym, .exampleElementOfType audio, .exampleElementOfType b, .exampleElementOfType basefont, .exampleElementOfType bdo, .exampleElementOfType big, .exampleElementOfType br, .exampleElementOfType canvas, .exampleElementOfType cite, .exampleElementOfType code, .exampleElementOfType command, .exampleElementOfType datalist, .exampleElementOfType dfn, .exampleElementOfType em, .exampleElementOfType embed, .exampleElementOfType font, .exampleElementOfType i, .exampleElementOfType img, .exampleElementOfType input, .exampleElementOfType keygen, .exampleElementOfType kbd, .exampleElementOfType label, .exampleElementOfType mark, .exampleElementOfType meter, .exampleElementOfType output, .exampleElementOfType progress, .exampleElementOfType q, .exampleElementOfType rp, .exampleElementOfType rt, .exampleElementOfType ruby, .exampleElementOfType s, .exampleElementOfType samp, .exampleElementOfType select, .exampleElementOfType small, .exampleElementOfType span, .exampleElementOfType strike, .exampleElementOfType strong, .exampleElementOfType sub, .exampleElementOfType sup, .exampleElementOfType textarea, .exampleElementOfType time, .exampleElementOfType tt, .exampleElementOfType u, .exampleElementOfType var, .exampleElementOfType video, .exampleElementOfType wbr {
  color: #cc0000;
}

/**
 * -------------------------
 * Some tests
 * -------------------------
 */
/* line 74, ../sass/application.scss */
.testRadiusBox {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 79, ../sass/application.scss */
.box1 {
  border: 10px solid red;
  height: 250px;
  width: 250px;
}
