/**
 * Project: Use Compass and Sass
 *
 * Author: Christophe Malo
 */
/**
 * -------------------------
 * Import Google Font
 * -------------------------
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
/**
 * -------------------------
 * Reset CSS
 * -------------------------
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * -------------------------
 * Generique
 * -------------------------
 */
body {
  background-color: lightsteelblue;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 30px;
  border: 16px solid #EEE; }

h1, h2 p, ul, li, p {
  padding: 20px; }

/**
 * -------------------------
 * Content with flexbox
 * -------------------------
 */
#container header, #container footer {
  -webkit-flex: 1 0 100%;
  flex: 1 0 100%; }
#container header {
  background: #ccccff; }
  #container header h1 {
    padding-top: 30px; }
  #container header nav ul {
    padding: 0;
    margin: -0.5em;
    min-width: 100%;
    text-align: center;
    display: -webkit-flex;
    display: flex; }
  #container header nav li {
    background: grey;
    margin: 0.5em;
    display: inline-block;
    -webkit-flex: 1 1 30%;
    flex: 1 1 30%; }
#container h1 {
  font-size: 2em;
  font-weight: bold;
  color: #000; }
#container section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1 0 100%;
  flex: 1 0 100%; }
#container h2 {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  font-size: 1.5em;
  font-weight: normal;
  color: #000;
  background-color: lightblue;
  padding: 30px; }
#container article {
  -webkit-flex: 2 1 30em;
  flex: 2 1 30em;
  background-color: lavender; }
#container aside {
  -webkit-flex: 1 0 15em;
  flex: 1 0 15em;
  background: #ccccff; }
#container #flexible {
  padding: 0;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  #container #flexible li {
    background: #CCC;
    min-width: 12em;
    margin: 0.5em;
    padding: 0.5em;
    display: inline-block;
    -webkit-flex: 1 0;
    flex: 1 0; }
#container footer {
  background-color: lightsalmon; }

/**
 * -------------------------
 * Specific content
 * -------------------------
 */
.testRadiusBox {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.box1 {
  border: 10px solid #000;
  height: 200px;
  width: 200px;
  margin: 10%; }
